body { padding-right: 0 !important }

.userAuth {
  display: block;
  margin: 20px 0 0;
}
.modal-header:last-child{
  border-bottom: 0;
}
.card {
  display: inline-block;
  margin: 1em;
  max-width: calc(25% - 2em);
}

.user-info {
  display: inline-block;
  margin: 0 0.5em;
}
.user-info img{
  display: inline-block;
  max-width: 2em;
}

.auth-true .authenticated,
.auth-false .unauthenticated {
  display: block;
}
.auth-true .unauthenticated,
.auth-false .authenticated {
  display: none;
}
